/* загальне для всіх елементів (Main - common) */
:root {
    --card-size-gap: 30px;

    --main-background-color: rgba(255, 255, 255, 1);
    --team-background-color: rgba(245, 244, 250, 1);
    --secondary-background-color: rgba(47, 48, 58, 1);
    --main-h-text-color: rgba(33, 33, 33, 1);
    --sec-p-text-color: rgba(117, 117, 117, 1);
    --main-white-text-color: rgba(255, 255, 255, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    margin: 0px;
    background-color: var(--main-background-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.section-title {
    color: var(--main-h-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.section {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.hidden-title {
    display: none;
}

.link {
    text-decoration: none;
}

.text {
    color: var(--sec-p-text-color);
}

.list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* header-logo */
.page-header {
    background-color: var(--main-background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--accent-color);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;

    margin: 0px;
}
.page-header .link {
    text-decoration: none;
}
.logo-black {
    color: black;
}

/* header - site nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

/* .site-nav .item:last-child {margin-right: 0px;} */
/* .site-nav .item:not(:last-child) {margin-right: 50px;} */

.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: rgba(33, 33, 33, 1);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {color: var(--accent-color);}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-link {
    color: var(--sec-p-text-color);
    text-decoration: none;
}

.auth-icon {
    fill: var(--sec-p-text-color);
}

.auth-link:hover .auth-icon, 
.auth-link:focus .auth-icon {
    fill: var(--accent-color);
}

/* shit */
.auth-link:hover,
.auth-link:focus {
    color: var(--accent-color);
}


/* main */

/* hero */


.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    /* margin-top: 56px; */

    background-color: #C4C4C4;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/heroFon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.hero-title {
    margin-top: 0px;
    margin-bottom: 0px;
    /* padding-top: 200px; */
    margin-bottom: 40px;


    color: var(--main-white-text-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}
.button {
    color: var(--main-white-text-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    padding: 10px 32px;
    display: inline-block;
    min-width: 216px;
    border: none;

    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
}

/* advantages */
.advantages-section {
    text-align: center;
}

.advantages-list {
    display: flex;
    margin-top: 60px;
    margin-bottom: 39px;
}
.advantages-list .item + .item {
    margin-left: 30px;
}

.adv-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 30px;
}

.adv-icon {
    width: 70px;
    height: 70px;
}

.advantages-title {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;

    margin-top: 0px;
    margin-bottom: 0px;
}

/* what we do */
.do-list {
    display: flex;
    margin-bottom: 69px;
    margin-top: 50px;
}

.do-list .item + .item {
    margin-left: 30px;
}


/* team */
.teamblock {
    background-color: var(--team-background-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-section-title {
    margin-bottom: 50px;
    
}

.team-list {
    display: flex;
}

.team-list .item + .item {
    margin-left: 30px;
}

.team-list .item {
    background-color: var(--main-white-text-color);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    margin-top: 30px;
    margin-bottom: 10px;

    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-text {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--sec-p-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.team-socials {
    display: flex;
    justify-content: center;
    padding: 16px 32px 30px 32px;
}

.team-socials-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: none;
    border-radius: 50%;
}

.team-socials-button {
    fill: #afb1b8;
}

.team-socials-button:hover {
    fill: var(--main-white-text-color);
    background-color: var(--accent-color);
}

/* clients section */
.clients-title {
    padding-top: 94px;
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    padding-bottom: 94px;
}

.client-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
}

.client-item + .client-item {
    margin-left: 30px;
}

.client-logo:hover,
.client-logo:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* footer */

.footer .container {
    display: flex;
    /* align-items: center; */
    /* background-position: center;
    background-size: contain; */
}

.logo-white {
    color: var(--main-white-text-color);
}
.footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .link {
    text-decoration: none;
}

.creds {
    margin-top: 20px;
}

.creds .address {
    color: var(--main-white-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}
.creds .mail,
.creds .phone {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.footer-socials-title {
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;

    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-socials-block {
    padding-top: 12px;
    margin-left: 70px;
}

.footer-socials-links {
    display: flex;
}

li.item {
    margin: 0px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
}

.footer-item + .footer-item {
    margin-left: 10px;
}

.footer-social:hover,
.footer-social:focus {
    background-color: #2196F3;
}

/* Portfolio page */
/* buttons section */

.button-list {
    display: flex;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.button-list .item + .item {
    margin-left: 8px;
}

.sorting-button {
    /* display: inline-block; */
    border-radius: 4px;
    padding: 6px 22px;
    min-width: auto;

    background-color: var(--team-background-color);
    color: #212121;
    border: none;

    text-decoration: none;
    font-family: inherit;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.48px;
}

.sorting-button:hover,
.sorting-button:focus {
    color: var(--main-white-text-color);
    background-color: var(--accent-color);
}

/* grid */

.grid-item {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: var(--card-size-gap);
    margin-left: var(--card-size-gap);
    /* box-shadow: var(--card-shadow); */
    /* margin-right: 30px;
    margin-bottom: 30px; */
    border: 1px solid #EEE;
}

/* .grid-item:nth-child(3n) {
    margin-right: 0px;
}
.grid-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}  */

.grid-heading {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--main-h-text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 2.0;
    letter-spacing: 1.08px;
    text-decoration: none;
}

.grid-text {
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--sec-p-text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.48px;
    text-decoration: none;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-size-gap));
    margin-left: calc(-1 * var(--card-size-gap));
    margin-bottom: 94px;
}


.card-content {
    margin: 20px 24px;
}