.grid {
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width:1199px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 60px;
    }

    // Old school flex grid approach width negative margins:
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--card-set-gap));
        margin-left: calc(-1 * var(--card-set-gap));
    }
}

.product {
    border: 1px solid #EEE;
    background: #FFF;

    &:hover {
        box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 
                    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 
                    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }

    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc(100%/2 - 30px);
    }

    // Old school flex grid approach width negative margins:
    @media screen and (min-width: 1200px) {
        flex-basis: calc(100% / 3 - 30px);
        margin-left: var(--card-set-gap);
        margin-top: var(--card-set-gap);
    }
}

.product__meta {
    padding: 20px 24px;

    .product__title {
        @include font-props(18px, 700, 2, 1.08px);
    }
    
    .product__detail {
        @include font-props(16px, 400, 1.87, 0.48px);
        color: var(--text-grey);
    }
}

.product__thumb {
    position: relative;
    overflow: hidden;
}

.product__overlay {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background: rgba(33, 150, 243, 0.90);
    transform: translateY(101%);
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);

    .product:hover & {
        transform: translateY(0);
    }
}

.overlay__text {
    padding: 63px 24px;
    @include font-props(18px, 400, 1.5, 0.54px);
    color: var(--main-white);
}