
// ================================ FLEX CENTERING ================================

@mixin flex-centering () {
    display: flex;
    justify-content: center;
    align-items: center;
}

// ================================ CENTERING X, Y ================================

@mixin сentering-xy () {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin сentering-x () {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin сentering-y () {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// ================================ FONT PROPERTIES ================================

@mixin font-props ($fsize: 14px, $fweight: 400, $lheight: normal, $lspace: 0.28px) {
    font-size: $fsize;
    font-weight: $fweight;
    line-height: $lheight;
    letter-spacing: $lspace;
}


// ================================ MEDIA QUERRY ================================

$breakpoints: (
    "phone": 400px,
    "phone-wide": 480px,
    "phablet": 560px,
    "tablet-small": 640px,
    "tablet": 768px,
    "tablet-wide": 1024px,
    "desktop": 1200px,
    "desktop-wide": 1440px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @if $type ==max {
            $width: $width - 1px;
        }

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

// Пример ниже показывает увеличение внутренних отступов и размера шрифта,
// когда вьюпорт становится больше 1024px. 
// .site-header {
//     padding: 2rem;
//     font-size: 1.8rem;

//     @include mq('tablet-wide') {
//         padding-top: 4rem;
//         font-size: 2.4rem;
//     }
// }




