// ==================== VARIABLES =================

:root {
    --icon-grey: #AFB1B8;
    --text-grey: #757575;
    --accent-blue: #2196f3;
    --main-white: #ffffff;
    --main-black: #212121;
    --footer-background: #2F303A;
    --card-set-gap: 30px;
}



















